# Azure App Registration
GRAPH_CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
GRAPH_CLIENT_SECRET=your_graph_client_secret_here
GRAPH_REFRESH_TOKEN=your_graph_refresh_token_here
GRAPH_TENANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# OneDrive
ONEDRIVE_FOLDER_PATH=AAA-MUVEX/CLIENTES/AÑO 2025
